REACT_APP_MAP_KEY=

# REACT_APP_API_BASE_URL=https://cms-api-dev.fbox.fpt.vn/cms/api/v1
REACT_APP_API_BASE_URL=https://cms-api-staging.fbox.fpt.vn/cms/api/v1
# REACT_APP_API_BASE_URL=https://cms-api.fbox.fpt.vn/cms/api/v1

REACT_APP_URL_UPLOAD=http://insidev3.fbox.fpt.vn
REACT_APP_URL_IMAGE=https://images.fbox.fpt.vn

REACT_APP_DOMAIN_UPLOAD_PLAYOS=https://images.fptplay.net/media/
REACT_APP_DOMAIN_IMAGE_FPTPLAY=https://images.fptplay.net
REACT_APP_DOMAIN_FPTPLAY=https://beta-dev.fptplay.vn
REACT_APP_DOMAIN_STATIC_FPTPLAY=https://static.fptplay.net
REACT_APP_DOMAIN_PATH_IMAGE=https://images.fbox.fpt.vn
REACT_APP_DOMAIN_SUBLINK=http://fsub.fptplay.net.vn
REACT_APP_DOMAIN_UPLOAD_FPLAY=https://fplay-upload.fptplay.vn
REACT_APP_DOMAIN_REVIEW_FPLAY=https://vod-review.fptplay.net/povod/_definst_