/* Camera container */
.camera-container {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.camera-view{
  margin-bottom: 8;
}

/* Webcam video element */
.webcam-video {
  max-width: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Buttons container */
.button-container {
  margin-top: 20px;
}

/* Common button styles */
.button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* Take photo button */
.take-photo-button {
  background-color: #007bff;
  color: #fff;
  border: none;
}

/* Switch camera button */
.switch-camera-button {
  background-color: #28a745;
  color: #fff;
  border: none;
}

/* Button hover effect */
.button:hover {
  opacity: 0.8;
}